@import '/src/styles/variaveis.scss';


.formulario {
    background-color: $branco;
    width: 100%;
    margin: 5% 20%;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    bottom: 0;
}