$cor-de-fundo: #EBECEE;
$branco: #ffffff;
$laranja: #EB8E00;
$azul:#002F53;
$preto: #000000;
$cinza: #474646;
$cinza-claro: #858585;
$azul-degrage: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
$fonte-primaria: "Poppins";
$fonte-secundario: "Josefin Sans";