@import '/src/styles/variaveis.scss';
.container {
    width: 200px;
    height: 100px;
}

.campoTextoInput {
    height: 30px;
    max-width: 100%;
}

.corpoModalCadastro {
    display: flex;
    align-items: center;
    padding-top: 32px;
    & form {
        width: 500px;
        max-width: 100%;
        & .acoes {
            margin-top: 48px;
            text-align: center;
        }
    }
    img {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .corpoModalCadastro {
        img {
            display: flex;
        }
    }
}