    @import '/src/styles/variaveis.scss';
    .wrap {
        background: $branco;
        width: 100%;
        text-align: center;
    }
    
    .wrap input {
        margin: 2% 0%;
    }
    
    .preco {
        text-align: center;
        display: block;
        height: 5%;
        font-size: 25px;
        padding: 1% 0;
        width: 100%;
    }
    
    .img {
        width: 20%;
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }
    
    @media screen and (min-width: 1024px) {
        .preco {
            background: $branco;
            display: inline-block;
            height: 5%;
            font-size: 30px;
            width: 50%;
            vertical-align: middle;
        }
    }