@import '/src/styles/variaveis.scss';
.container {
    background: $branco;
    padding: 1% 0;
}

.SID {
    width: 33%;
    display: inline;
}

.Stitulo {
    font-weight: bolder;
    font-size: 20px;
}

.Stexto33 {
    width: 33%;
    display: inline-block;
    padding-top: 10px;
    vertical-align: middle;
    font-weight: bolder;
}

.Stexto50 {
    width: 50%;
    display: inline-block;
    padding-top: 10px;
}

.Stexto100 {
    width: 100%;
    display: inline-block;
    padding-top: 10px;
}