@import '/src/styles/variaveis.scss';


.lista_menu{
    display: none;
    position: absolute;
    top: 100%;
    width: auto;
}

.lista_menu__item{
    background-color: $branco;
    padding: 1em;
    text-transform: uppercase; 
}

.lista_menu__link{
    background: $preto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


.opções{
    display: none;
}




@media screen  and (min-width: 1024px){
    
    

    .opções{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        
    }

    .opções__item{
        padding: 2em 1em;
        text-transform: uppercase;
    }


    .opções__botao:checked ~ .lista_menu{
        display: block;
        width: auto;
        left: 0%;
    }

    .opções__botao{
        display: none;
    }
    

    .opções__botao:checked~.opcões__rotulo>.opções__item{
        background: $preto;
        color: $branco;
    }


    .lista_menu__item:hover{
        background: $preto;
    }

    .lista_menu__item:hover>.lista_menu__link{
        -webkit-text-fill-color: $branco;
        text-decoration: none;
    }
}
