@import '/src/styles/variaveis.scss';
.container {
    width: 100%;
    background: $branco;
}

.container hr {
    margin: 0;
}

.grid1 {
    display: flex;
    width: 15%;
    margin-top: 2%;
    margin-left: 10%;
}

.img {
    width: 50%;
    height: auto;
}

.grid2 {
    display: flex;
    width: 75%;
    margin-left: 16%;
    margin-top: -7%;
    padding-bottom: 7%;
}

.info {
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    font-size: 16px;
    width: 30%;
}

@media screen and (min-width: 1024px) {
    .grid2 {
        display: flex;
        width: 70%;
        margin-left: 20%;
        padding-bottom: 8%;
    }
    .info {
        font-size: 25px;
    }
}