@import '/src/styles/variaveis.scss';
.container {
    width: 100%;
    display: fixed;
    position: relative;
    bottom: 0;
    left: 0;
}

.container hr {
    margin: 0;
}

.rodapé {
    background-color: $branco;
    padding: 1em 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.rodapé__lista {
    display: none;
}

@media screen and (min-width: 1200px) {
    .rodapé {
        display: flex;
        justify-content: space-around;
    }
    .rodapé__lista {
        display: block;
    }
    .lista-rodapé__titulo {
        color: $cinza-claro;
    }
    .rodapé__lista-item {
        display: flex;
        align-items: center;
        margin: 0.6em 0;
    }
    .lista-rodapé__link {
        color: $cinza;
        text-decoration: none;
        margin-left: 0.6em;
    }
    .lista-rodapé__titulo {
        font-size: 24px;
    }
}

@media screen and (min-width: 1728px) {
    .rodapé {
        padding: 3em 0;
    }
    .rodapé__lista {
        border-left: 1px solid $cinza-claro;
        padding-left: 1em;
    }
}