@import '/src/styles/variaveis.scss';
.container {
    padding: 10px 0px 20px 0px;
    background: $branco;
}

.titulo {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

@media screen and (min-width: 1024px) {
    .titulo {
        font-size: 40px;
    }
}