@import '/src/styles/variaveis.scss';


.container{
    display: flex;
    align-items: center;

    &__titulo {
        display: none;
    }
    &__imagem {
        padding: 1em;
        width: 5vh;
    }
}


@media screen  and (min-width: 1024px){


    .container{
    
        &__titulo {
            font-family: $fonte-secundario;
            font-size: 30px;
            display: block;
            font-weight: 400;

            &_negrito {
                //da forma anterior havia um display flex aqui, mas deu B.O,
                //quando eu fiz em cascata
                font-weight: 700;
            }
        }
        
    }
    
}
