@import '/src/styles/variaveis.scss';
.container {
    background: $branco;
}

.img {
    margin: auto;
    display: block;
    width: 15%;
    border-radius: 10px;
    border: 1px solid $preto;
    background: $branco
}