@import '/src/styles/variaveis.scss';


.cabeçalho{
    background-color: $branco;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    text-align: center;
}

@media screen  and (min-width: 1728px){

    .cabeçalho{
        padding: 0 2em;
    }

}

