@import '/src/styles/variaveis.scss';


.cabeçalho{
    background-color: $branco;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    text-align: center;
}

.cabeçalho__menu_hamburguer{
    width: 24px;
    height: 24px;
    background-image: url("/public/assets/imagens/menuHamburguer.png");
    background-size: 5vh;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    //container__imagem
    padding: 1em; 
    width: 5vh;
}

.container{
    display: flex;
    align-items: center;
}

.container__botao:checked~.container__rotulo>.cabeçalho__menu_hamburguer{
    background-image: url('/public/assets/imagens/Menu-Aberto.png');
}

.container__botao:checked~.container__rotulo{
    background: $preto;
}

.container__titulo{
    display: none;
}

.container__imagem{
    padding: 1em;
    width: 5vh;
}

.lista_menu{
    display: none;
    position: absolute;
    top: 100%;
    width: auto;
}

.container__botao{
    display: none;
}
.container__botao:checked~.lista_menu{
    display: block;
}

.lista_menu__titulo, .lista_menu__item{
    background-color: $branco;
    padding: 1em;
    text-transform: uppercase; 
}

.lista_menu__titulo{
    color: $preto;
    font-weight: 700;
}

.lista_menu__link{
    background: $preto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.botões__ancora{
    text-align: center   ;
}

.container__imagem_transparente{
    display: inline-block;
    padding: 1em;
    width: 5vh;
}

.opções{
    display: none;
}

.container__texto{
    display: none;
}



@media screen  and (min-width: 1024px){
    .container__titulo, .container__titulo_negrito{
        font-family: $fonte-secundario;
        font-size: 30px;
    }
    .container__titulo{
        display: block;
        font-weight: 400;
    } 
    .container__titulo_negrito{
        font-weight: 700;
    }

    .cabeçalho__menu_hamburguer{
        display: none;
    }

    .opções{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        
    }

    .opções__item{
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opções__link{
        text-decoration: none;
        color: $preto;
    }

    .opções__botao:checked ~ .lista_menu{
        display: block;
        width: auto;
        left: 0%;
    }

    .opções__botao{
        display: none;
    }
    
    .container__imagem_transparente{
        display: none;
    }


    .opções__botao:checked~.opcões__rotulo>.opções__item{
        background: $preto;
        color: $branco;
    }

    .opções__item{
        padding: 2em 1em;
    }

    .lista-menu__item:hover{
        background: $preto;
    }

    .lista_menu__item:hover>.lista_menu__link{
        -webkit-text-fill-color: $branco;
        text-decoration: none;
    }
}


@media screen  and (min-width: 1728px){

    .container__texto{
        display: inline-block;
    }

    .container__link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $preto;
    }

    .cabeçalho{
        padding: 0 2em;
    }

}

