@import '/src/styles/variaveis.scss';

//min 375px

.corpoModal {
    display: flex;
    align-items: center;
    padding-top: 8px;

    figure {
        display: none;
    }
}

.containerForms {
    width: 100%;
    height: 200px;
}


@media screen  and (min-width: 1024px){

    .corpoModal {

        figure {
            display: flex;
        }
    
    }
}