        @import '/src/styles/variaveis.scss';
        .container {
            width: 100%;
            height: auto;
            background: $branco;
        }
        
        .grid1 {
            display: block;
            width: 100%;
            height: auto;
        }
        
        .img {
            width: 30%;
            margin-left: 35%;
        }
        
        .grid2 {
            display: block;
            width: 100%;
            padding-bottom: 10%;
        }
        
        .info {
            text-align: center;
            display: block;
            font-size: 14px;
            width: 30%;
            margin-left: 35%;
            margin-top: 2%;
        }
        
        .detalhes {
            margin: 2% 40%;
        }
        
        @media screen and (min-width: 1024px) {
            .container {
                width: 30%;
                display: inline-block;
                border: 2px solid $preto;
                border-radius: 30px;
                margin: 0% 1% 2% 1%;
            }
            .info {
                margin-top: 3%;
            }
            .detalhes {
                margin: 3% 40%;
            }
        }